.container{
    .navbar{
            .container-fluid{
                margin: 3% 0;
                .collapse{
                    margin-left: 25%;
                    .navbar-nav{
                        li{
                            a{
                                color: black;
                                &:hover{
                                    color: rgb(255,193,7);
                                }
                            }

                        }
                        
                    }
                }
                .right-nav{
                    display: flex;
                    justify-content: center;
                    a{
                        color: black;
                        margin: 0 10px;
                        &:hover{
                            color: rgb(255,193,7);
                        }
                    }
                }
            }
    }
}